go 1.26.0

use (
	./libs/go
	./services/antibot
	./services/event
	./services/gateway
	./services/identity
	./services/notification
	./services/payment
	./services/ticketing
	./services/waitingroom
)
